.content {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.item-container {
    display: flex;
}

.item-list {
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
}

.item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin: 2px 0;
}

.item-column {
    margin: 0 15px;
}

.item .name, label {
    font-weight: bold;
}

#clear-log {
    float: right;
}

input#value {
    width: 75%;
}

.row {
    margin-bottom: 5px;
    width: 100%;
}

.connection-container {
    background: rgba(158, 56, 56, 0.75);
    padding: 2px 4px;
    border-radius: 5px;
}

.connection-container.connected {
    background: rgba(47, 181, 69, 0.75);
}
