.content {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

.row {
    margin-bottom: 5px;
    width: 100%;
}

.connection-container {
    background: rgba(158, 56, 56, 0.75);
    padding: 2px 4px;
    border-radius: 5px;
}

.connection-container.connected {
    background: rgba(47, 181, 69, 0.75);
}

.intent-log {
    overflow-y: scroll;
    height: 100%;
    border: 2px inset;
    padding: 2px 5px;
}

.intent-state {
    margin: 10px 5px;
    border-radius: 5px;
    padding: 3px;
}

.intent-state.init {
    background: lightgrey;
}

.intent-state.choosing {
    background: lightyellow;
}

.intent-state.delivering {
    background: lightsalmon;
}

.intent-state.running {
    background: lightskyblue;
}

.intent-state.complete {
    background: lightgreen;
}

.intent-state.error {
    background: lightcoral;
}
